# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
vision_env/
v_agent_env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
*.log
# Ignore screenshots/images except for the logo
# *.png
*.jpg
*.jpeg
!Logo.png

# Distribution / Build
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
